---
/*
  This program is the Badger Spill website.

  Copyright (C) 2023-2024 James Julich

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

import Accordion from "../components/Accordion.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ResourceCategory, { type Resource } from "../components/ResourceCategory.astro";

const crisis: Resource[] = [
  { label: "Suicide and Crisis Lifeline (call or text 988)" },
  { label: "Dane County Crisis Line (608-280-2600)" },
  { label: "UHS Crisis Line (608-265-5600, option 9)" },
  { label: "Dane County Rape Crisis Center (608-251-7273)", url: "https://www.danecountyrcc.org" },
  { label: "SAMHSA (Substance Abuse and Mental Health Services Administration)", url: "https://www.samhsa.gov" },
  { label: "National Helpline (1-800-662-4357)" },
  { label: "Disaster/Distress Hotline (1-800-985-5990)" },
  { label: "Domestic Abuse Intervention Services Crisis Hotline (608-251-4445)", url: "http://www.abuseintervention.org" },
  { label: "The Trevor Project (LGBTQIA+ Lifeline) (call 866-488-7386 text “START” to 678678)", url: "https://www.thetrevorproject.org/" },
  { label: "Trans Lifeline (877-565-8860)" },
]

const academicNational: Resource[] = [
  { label: "Rate My Professor", url: "https://www.ratemyprofessors.com/" },
  { label: "Chegg", url: "https://www.chegg.com/" }
]

const academicLocal: Resource[] = [
  { label: "L&S Career Center", url: "https://successworks.wisc.edu/" },
  { label: "UHS Counseling", url: "https://www.uhs.wisc.edu/mental-health/individual/" },
  { label: "Greater University Tutoring Services (GUTS)", url: "https://www.guts.wisc.edu/" },
  { label: "Chemistry Learning Center", url: "https://www.chem.wisc.edu/areas/clc/" },
  { label: "Physics Learning Center", url: "https://www.physics.wisc.edu/plc" },
  { label: "The Writing Center", url: "https://writing.wisc.edu/" },
  { label: "MadGrades", url: "https://madgrades.com/" },
  { label: "Career Services", url: "https://careers.wisc.edu" },
  { label: "Career and Education Planning", url: "https://acsss.wisc.edu/career-and-educational-planning/" },
  { label: "Business Career Services", url: "https://business.wisc.edu/undergraduate/careers/" },
  { label: "Study Abroad", url: "https://www.studyabroad.wisc.edu/" },
]

const mentalHealthNational: Resource[] = [
  { label: "National Institute for Mental Health", url: "https://www.nimh.nih.gov/health" },
  { label: "National Aliance on Mental Illness", url: "https://www.nami.org/Home" },
  { label: "National Institute of Alcohol Abuse and Alcoholism", url: "https://www.niaaa.nih.gov/" },
  { label: "BIPOC Mental Health Resources", url: "https://www.thementalhealthcoalition.org/wp-content/uploads/2020/07/BIPOC-Mental-Health-Resources.pdf" },
  { label: "The Steve Fund (mental health support for people of color)", url: "https://stevefund.org/" },
]

const mentalHealthLocal: Resource[] = [
  { label: "UHS Mental Health Counseling", url: "https://www.uhs.wisc.edu/mental-health/" },
  { label: "UHS Let’s Talk", url: "https://www.uhs.wisc.edu/wellness/lets-talk/" },
  { label: "NAMI UW", url: "https://www.namiuw.org/" },
];

export const bipocNational: Resource[] = [
  { label: "College Rover article on BIPOC students and resources", url: "https://collegerover.com/campus-library/news/299/bipoc-students" },
  { label: "BIPOC Mental Health Resources from the Mental Health Coalition", url: "https://www.thementalhealthcoalition.org/wp-content/uploads/2020/07/BIPOC-Mental-Health-Resources.pdf" },
  { label: "Mental Health America National BIPOC Resources", url: "https://www.mhanational.org/bipoc" },
  { label: "LifeAct LGBTQ+ and BIPOC Mental Health Resources", url: "https://www.lifeact.org/for-students/lgbtq-and-bipoc-mental-health-resources" },
  { label: "Melanin and Mental Health, therapy and support for Black and Latine/Hispanic individuals", url: "https://www.melaninandmentalhealth.com/" },
  { label: "Black Lives Matter", url: "https://blacklivesmatter.com/" },
  { label: "Center for Native American Youth", url: "https://www.cnay.org/" }
];

export const bipocLocal: Resource[] = [
  { label: "Multicultural Student Center", url: "https://www.msc.wisc.edu" },
  { label: "Diversity and Equity at UW", url: "https://diversity.wisc.edu/" },
  { label: "Center for Cultural Enrichment", url: "https://www.housing.wisc.edu/undergraduate/experience/inclusivity/#cce" },
  { label: "Join student orgs to meet other people with similar backgrounds, religions, and cultures (Wisconsin Involvement Network)", url: "https://win.wisc.edu/" }
];

const lgbtqiaNational: Resource[] = [
  { label: "LGBT National Help Center (888-843-4564)", url: "https://lgbthotline.org/" },
  { label: "The Trevor Project (866-488-7386)", url: "https://www.thetrevorproject.org/" },
  { label: "Trans Lifeline (888-843-4564)" },
  { label: "PFLAG", url: "https://pflag.org/" },
  { label: "It Gets Better Project", url: "https://itgetsbetter.org/" },
];

const lgbtqiaLocal: Resource[] = [
  { label: "Gender and Sexuality Campus Center", url: "https://lgbt.wisc.edu/" },
  { label: "OutReach Community Center", url: "https://www.outreachmadisonlgbt.org/" },
  { label: "UW Report Bias", url: "https://doso.students.wisc.edu/report-an-issue/bias-or-hate-reporting/" },
];

const griefNational: Resource[] = [
  { label: "Grief Share", url: "https://www.griefshare.org/" },
  { label: "Agrace Grief Support", url: "https://www.agrace.org/grief-support/griefgroups/" },
];

const griefLocal: Resource[] = [
  { label: "UHS Mental Health Counseling", url: "https://www.uhs.wisc.edu/mental-health/" },
  { label: "UHS Group Counseling", url: "https://www.uhs.wisc.edu/mental-health/group-counseling/" },
  { label: "UHS Resources", url: "https://www.uhs.wisc.edu/grief-resources/" },
  { label: "FindHelp", url: "https://www.findhelp.org/care/bereavement--madison-wi" },
];

const discriminationNational: Resource[] = [
  { label: "AAKOMA Project", url: "https://aakomaproject.org/" },
  { label: "The Steve Fund (mental health support for people of color)", url: "https://stevefund.org/" },
  { label: "BIPOC Mental Health Resources", url: "https://www.thementalhealthcoalition.org/wp-content/uploads/2020/07/BIPOC-Mental-Health-Resources.pdf" },
  { label: "Race Forward", url: "https://www.raceforward.org/" },
  { label: "Black Lives Matter", url: "https://blacklivesmatter.com/" },
  { label: "Stop AAPI Hate", url: "https://stopaapihate.org/" },
  { label: "Lakota People’s Law Project", url: "https://lakotalaw.org/resources/native-lives-matter" },
  { label: "Center for Native American Youth", url: "https://www.aspeninstitute.org/programs/center-for-native-american-youth/" },
  { label: "NAACP", url: "https://naacp.org/" },
];

const discriminationLocal: Resource[] = [
  { label: "UW-Madison Bias Reporting", url: "https://doso.students.wisc.edu/report-an-issue/bias-or-hate-reporting/" },
  { label: "UWPD", url: "https://uwpd.wisc.edu/" },
  { label: "Multicultural Student Center", url: "https://msc.wisc.edu/identity-centers/black-cultural-center/" },
  { label: "MECHA Student Organization", url: "https://win.wisc.edu/organization/mecha" },
  { label: "Office for Equity and Diversity", url: "https://employeedisabilities.wisc.edu/" },
  { label: "International Student Services", url: "https://iss.wisc.edu/" },
];

---

<BaseLayout>
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold tracking-tight text-zinc-100 sm:text-5xl p-1">
      Looking for resources?
    </h1>
    <h1 class="text-3xl font-bold tracking-tight sm:text-5xl bg-gradient-to-r from-primary-200 to-primary-400 text-transparent bg-clip-text p-1">
      We got 'em.
    </h1>
    <!-- This should probably be refactored so that opening an accordion only affects the height of its column. -->
    <div class="flex flex-col items-center gap-6 max-w-2xl mx-auto sm:items-start sm:grid sm:grid-cols-12 sm:max-w-4xl my-16 text-left">
      <Accordion summary="🚨 Crisis Resources 🚨">
        <ResourceCategory category="Resources" resources={crisis} />
      </Accordion>
      <Accordion summary="Academics">
        <ResourceCategory category="Local/Campus Resources" resources={academicLocal} />
        <ResourceCategory category="National Resources" resources={academicNational} />
      </Accordion>
      <Accordion summary="Mental Health">
        <ResourceCategory category="Local/Campus Resources" resources={mentalHealthLocal} />
        <ResourceCategory category="National Resources" resources={mentalHealthNational} />
      </Accordion>
      <Accordion summary="BIPOC">
        <ResourceCategory category="Local/Campus Resources" resources={bipocLocal} />
        <ResourceCategory category="National Resources" resources={bipocNational} />
      </Accordion>
      <Accordion summary="LGBTQIA+">
        <ResourceCategory category="Local/Campus Resources" resources={lgbtqiaLocal} />
        <ResourceCategory category="National Resources" resources={lgbtqiaNational} />
      </Accordion>
      <Accordion summary="Death and Grief">
        <ResourceCategory category="Local/Campus Resources" resources={griefLocal} />
        <ResourceCategory category="National Resources" resources={griefNational} />
      </Accordion>
      <Accordion summary="Discrimination">
        <ResourceCategory category="Local/Campus Resources" resources={discriminationLocal} />
        <ResourceCategory category="National Resources" resources={discriminationNational} />
      </Accordion>
    </div>
  </div>
</BaseLayout>
