---
/*
  This program is the Badger Spill website.

  Copyright (C) 2023-2024 James Julich

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

interface Props {
  id: string;
  label: string;
  placeholder: string;
}

const {id, label, placeholder} = Astro.props;
---

<div>
  <label for={id} class="mb-1 block text-sm font-medium text-zinc-400">
    {label}
  </label>
  <textarea
    id={id}
    name={id}
    class="block w-full rounded-md border-zinc-500 bg-transparent text-zinc-300 placeholder-zinc-500"
    rows="10"
    placeholder={placeholder}
  />
</div>
